@import '~library/TestCases/src/styles/library';

:host {
    display: block;

    header {
        position: sticky;
        top: 0;
        max-height: 50px;
        overflow: hidden;

        nav {
            background-color: $blue;
            display: flex;
            flex-direction: row;

            a {
                padding: 1rem;
                color: rgba($font-color-invert, .8);
                text-decoration: none;

                &.router-link-active {
                    color: $font-color-invert;
                    font-weight: bold;
                }
            }
        }
    }
}
